{% extends "base.html" %}

{% block title %}<title>Login</title>{% endblock %}

{% block content %}
    <h1>Login</h1>
    <hr>
    {% if messages %}
        {% for message in messages %}
            <div class="alert-warning">
                {{ message }}
            </div>
        {% endfor %}
        <br>
    {% endif %}

    {% if next %}
        {% if user.is_authenticated %}
            <p>Your account doesn't have access to this page. To proceed,
               please login with an account that has access.</p>
        {% else %}
            <p>Please login to see this page.</p>
        {% endif %}
    {% endif %}

    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <table>
            <tr>
                <td>
                    <strong>Username:</strong>
                    <br>
                    {{ form.username }}
                    <br>
                    <br>
                    <strong>Password:</strong>
                    <br>
                    {{ form.password }}
                    <br>
                </td>
            </tr>
        </table>
        <br>
        <input type="submit" value="login" />
        <input type="hidden" name="next" value="{{ next }}" />
    </form>
    <br>
    <p>
        <a href="{% url 'password_reset' %}">Lost password?</a>
        <br>
        <a href="{% url 'register' %}">Create an account</a>
    </p>

{% endblock %}